.lolas-div{
  background-color: #c54b4b;

  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
Navbar1{
  border: 1px solid #df1a1a;
  border-radius: 5px;
  background-color: #5c5c5c;
}
.div-cont{
  background-color: #5c5c5c;
}
body{
  overflow-x: hidden;
}